
  body{
    background-color: rgb(51, 51, 51);
  }
  .btn {
  background-color: purple;
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}
.btn:hover {
  background-color: royalblue;
}
.circle {
  position: relative;
  width: 100px;
  height: 100px;
}
.circle svg {
  fill: none;
  stroke: #8a3ab9;
  stroke-linecap: round;
  stroke-width: 3;
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  animation: stroke-draw 6s ease-out infinite alternate;
}
.circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  border-radius: 50%;
}
@keyframes stroke-draw {
  from {
    stroke: #8a3ab9;
    stroke-dasharray: 1;
  }
  to {
    stroke: #cd486b;
    transform: rotate(180deg);
    stroke-dasharray: 8;
  }
}

.inline { 
display: inline-block; 
margin-right:18px;
margin-left:18px;
margin-top: 10px;
}


.feed{
  display: grid; 
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  overflow-y: scroll;
   
}

.feed::-webkit-scrollbar{
    width: 12px;
  }
.feed::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px ivory; 
  border-radius: 5px;
}
.feed::-webkit-scrollbar-thumb {
  background: rgb(207, 207, 207); 
  border-radius: 5px;
}

.dashboard-post.inactive{
  display: block;
}

.post-card{
  background: rgb(0, 0, 0);  
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  margin-left: 20px;
  width: 900px;
  height: 700px;
  color: white;
  box-shadow:10px 10px 50px rgb(78, 78, 78);
  
}

.author{
  padding: 5px;
  display: flex;
  font-size: 20px;
}

.avi {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}

.iframe{
  height: 400px; 
  width: 100%; 
  border: none;
/*   border: 2px solid #008D8D; */
  border-radius: 10px;
  
}

.content h4{
  margin: 10px;
  margin-top: 20px;
  font-size: 22px;
}

.footer{
  margin: 10px;
}

.reactions{
  width: 50px;
  height:50px;
  display: inline;
  pointer: cursor;
  color: white;
}

#interact{
  background: transparent;
  border: none;
  cursor: pointer;
  float: right;
  margin-top: 50px;
}

#interact i {
  font-size: 18px;
  margin-top: 50px;
  margin-left: 10px;
}

#interact i:hover{
  color:#008D8D;
}

.fa-thumbs-down{
  color: white;
  padding:10px 21px;
 
}

.fa-thumbs-up{
  color: white;
  padding:10px 21px;
  
}

.fa-heart{
 color: white;
  padding:10px 21px;
 
  
}

.fa-share{
 color: white;
 padding:10px 21px;
 
}

.fa-comment{
 color: white;
 padding:10px 21px;
 
}

/*Explorer*/

.explorer-post{
  display: none;
}

.post-explorer{
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content:space-evenly;
}

.post-card.explorer{
  background: rgb(192, 192, 192);  
  border-radius: 5px;
  margin-top: 20px;
  padding: 15px;
  margin-left: 20px;
  width: 350px;
  height: 450px;
  max-height: 620px;
  color: white;
  box-shadow:10px 10px 50px grey;
  
}

.author{
  padding: 5px;
  display: flex;
  font-size: 20px;
}

.avi {
  border-radius: 50%;
  border: 2px solid white;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  margin-bottom: 15px;
  margin-top: 0;
}

.pics{
  height: 100%; 
  width: 100%; 
  border: 2px solid #008D8D;
  border: none;
  border-radius: 10px;
  
}

.content h4{
  margin: 10px;
  margin-top: 20px;
  font-size: 22px;
}

.footer{
  margin: 10px;
}

.reactions{
  width: 50px;
  height:50px;
  display: inline;
  pointer: cursor;
  color: white;
}

#interact{
  background: transparent;
  border: none;
  cursor: pointer;
  margin-top: 40px;
}

#interact i {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 10px;
}

#interact i:hover{
  color:#008D8D;
}

.fa-thumbs-down{
  color: white;
  padding:10px 21px;
 
}

.fa-thumbs-up{
  color: white;
  padding:10px 21px;
  
}

.fa-heart{
 color: white;
  padding:10px 21px;
 
  
}

.fa-share{
 color: white;
 padding:10px 21px;
 
}

.chat-container{
position: absolute;
  top: 49%;
  left: 80%;
  width: 335px;
  height: 450px;
  z-index: 10;
  background: #fffaf0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.05);
  transform:scale(0);
} 

.chat-container.active{
  transform:scale(1);
}

.chat-header{
  background:#008D8D;
  height: 40px;
  padding: 5px;
  border-radius: 5px;
}

.chat-header h3{
color: white;
}

.fa-circle{
  margin: 5px;
  font-size: 15px;
  color: #32CD32;
}

.message-list{
  height: 80%;
  overflow-y: scroll;
  padding: 8px;
}

.message-list::-webkit-scrollbar{
    width: 6px;
  }
.message-list::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px ivory; 
  border-radius: 5px;
}
.message-list::-webkit-scrollbar-thumb {
  background: #008D8D; 
  border-radius: 5px;
}

.text{
  position: absolute;
  background: #fffaf0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
/*   border-top: 1px solid #008D8D; */
  margin-top: 8px;
  background: rgba(255, 255, 255, 0.05);

}

.chat-container input{
  width: 100%;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border:none;
  border-bottom: 2px solid #008D8D;
  border-right: 2px solid #008D8D;
  font-weight: bold;
  background-color: #fffaf0; 
  background: rgba(255, 255, 255, 0.05);
  color:white;

  
}

.message-row{
 display: grid;
 flex-direction: column;
 margin-bottom: 20px; 
 margin-top: 20px;
  
}

.bot-message{
 justify-content: start;
 justify-items: start;
}


.bot-message .message-text{
  color: white;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  background: rgb(185, 185, 185);
}

.message-text {
padding: 9px 14px;
 font-size: 16px; 
 margin-bottom: 5px;
   
}

.message-time{
  color: grey;
  font-size: 14px;
  padding: 5px;
}

.mine{
 justify-content: end;
 justify-items: end;
}

.mine .message-text{
  color: white;
  font-size: 16px;
  border-radius: 10px;
  padding: 8px;
  background: #008D8D;
}

#message-time{
  color: grey;
  font-size: 14px;
  padding: 5px;
}

@media screen and (max-width: 600){
  body{
    background: ivory;
  }
  .post-card{
    width:100%;  
  }
  header{
    width: 100vw;
    height: 100vh;
  }
}
