* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    align-items: center;
    background-color: #1E1E1E;
}

.header_top{
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
    padding: 8px 10px;
}

.header_top{
    width: 50%; 
}

.header_top--logo img{
    max-width: 60%;

}


.header_top--icons{
    display: flex;
    justify-content: flex-end;
}

.header_top--icons svg{
    margin: 0px 10px;
    
    
}

.stories{
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.stories .story{
    width: 50px;
    height: 50px;
    background:#1E1E1E;
    border-radius: 50%;
    border: 2px soid #7A65E8;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.stories .story{
    width: 50px;
    height: 50px;
    background-color: #1E1E1E;
    border-radius: 50%;
    border: 2px solid #7A65E8;
    align-items: center;


}

.stories.story:first-child{
    border: none;
    
}

.post{

}

.post_header{
    border-top: 1px solid #7A65E8;
    border-bottom: 1px solid #7A65E8;
    display: flex;
    padding: 5px 10px;
}

.post-header img{
    width: 30px;
    border-radius: 50%;
    height: 30px;
    display: flex;
    margin-right: 5px;
    align-items: center;
    justify-content: space-between;

}

.post_user{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
}

.post_content {
    max-width: 100px;
    max-height: 500px;
    overflow: hidden;
}
.post_content img{
    max-width: 100px;
    max-height: 500px;
    overflow: hidden;
}

.post_text,
.post-icons {
    padding: 5px 10px;
    color:white;
}

.post-icons svg{
    margin: 5px 10px;

    
}

.post-icons svg:first-child{
   margin: 0px 5px 0px 0px;
}

.username{
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
    color: white;
}